@using Apriorit_Test_MVC_IerarchySystemApp.Models
@model IEnumerable<FolderItem>

<h2>Folder: @ViewBag.Folder</h2>

<div class="jumbotron">
    <ul>
        @foreach (var item in Model)
        {
            <li>
                <a href="@Request.Url.AbsoluteUri/@item.VirtualPath">@item.VirtualPath</a>
            </li>
        }
    </ul>

</div>
