@using Apriorit_Test_MVC_IerarchySystemApp.Models
@model IEnumerable<MenuItem>

<div class="jumbotron">

    @helper BuildMenu(IEnumerable<MenuItem> data, int? parentId = null)
    {
    <ul>
        @foreach (var item in data)
        {
            <li>
                <a href="@item.VirtualPath">@item.VirtualPath</a>
            </li>
        }
    </ul>
}

    <h2>Folder: @ViewBag.Name</h2>
    <div id="cssmenu">
        @BuildMenu(Model)
    </div>

</div>